div{
    background-color:rgb(204, 153, 255);
}
body{
    background-color: lightblue;
}
.Essay{
    color: Red;
    background-color: lightblue;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}